{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{%static 'css\bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css\aos.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'icofont\icofont.min.css' %}">
	<script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
	<style type="text/css">
		.button{
			background-color: #584420;
			color: #ECDCAC;
			border-color: #584420 !important;
			box-shadow: 2px 2px 3px #584420 !important;
		}
		.button:hover{
			transform: translateY(-3PX) !important;
			transition: all ease 0.3s !important;
			background-color: #ECDCAC;
			color: #584420;
			border-color: #584420;
			box-shadow: 2px 2px 3px #584420;
		}
		body{
			overflow-x: hidden;
		}
	</style>
</head>
<body>
	<div class="row mb-5 pt-5" style="background-color: #584420; color: white; height: 250px;">
		<div class="col-md-6 ps-5" data-aos="fade-right">
			<h1>About Us</h1>
			<p style="text-align: justify;">Welcome to TextTech – your all-in-one solution for text-related tasks! At TextTech, we strive to empower users with a versatile set of tools designed to enhance productivity and streamline workflows. Whether you're a student, professional, or simply someone who loves working with text, our platform is tailored to meet your diverse needs.</p>
		</div>
		<div class="col-md-6" data-aos="fade-down-left">
			<div class="row ps-5">
			<div class="col-md-7">
				<img src="{%static 'images/feature17.jpg' %}" width="110%" height="250px;">
			</div>
			<div class="col-md-5 mb-5">
				<img src="{%static 'images/image7.jpg' %}" width="160%" height="230px;" style="margin-top: 140px; margin-left: -200px;">
			</div>
			</div>
		</div>
	</div>
	<div class="row pe-5 pb-5" style="color: #584420">
		<div class="col-md-6" data-aos="fade-down-right">
			<div class="row">
				<div class="col-md-7">
					<img src="{%static 'images/service3.jpg' %}" style="padding-left: 30px;" width="100%" height="270px;">
				</div>
				<div class="col-md-5">
					
					<img src="{%static 'images/service5.jpeg' %}" height="200px;" style="margin-top: 130px; margin-left: -150px;" width="150%">
				</div>
			</div>
		</div>
		<div class="col-md-6" style="margin-top: 120px;" data-aos="fade-left">
			<h1>Our Mission</h1>
			<p style="text-align: justify;">Our mission at TextTech is simple: to provide intuitive, efficient, and reliable tools such as Text-to-speech, Speech-to-text, Language converter, Language detecter, Text-to-pdf, Sentiment analysis, Word Cloud, Linguistic analysis, spelling cheaker and many more that make working with text easier than ever before. We understand the importance of communication in today's digital age, and our goal is to empower individuals and businesses with the tools they need to express themselves effectively.</p>
		</div>
	</div>
	<div class="row ps-5 pe-3" style="color: white; background-color:#584420; height: 300px;">
		<div class="col-md-7 pt-4 pb-3" data-aos="fade-right">
			<h1>Why Choose TextTech?</h1>
			<p style="text-align: justify;">With TextTech, you're not just getting a collection of tools – you're gaining access to a reliable and innovative platform backed by cutting-edge technology. Our user-friendly interface, coupled with powerful features, makes text processing a breeze for users of all levels.Whether you're a student looking to improve your academic performance, a professional seeking to boost productivity, or an enthusiast exploring the possibilities of text technology, TextTech is here to support you every step of the way.</p>
		</div>
		<div class="col-md-5 " data-aos="fade-down-left">
			<img src="{%static 'images/logo4.jpg' %}" height="300px;" width="100%">
		</div>
	</div>
	<div class="row pe-5 ps-5" style="color: #584420;">
		<div class="col-md-6 " style="margin-top: 80px;" data-aos="fade-down-right">
			<img src="{%static 'images/image9.jpg' %}" height="250px;" width="100%">
		</div>
		<div class="col-md-6 mb-5" style="margin-top: 80px;" data-aos="fade-left">
			<h1>Join the TextTech Community Today</h1>
			<p style="text-align: justify;">Join thousands of satisfied users who have made TextTech their go-to platform for all things text-related. Experience the convenience, efficiency, and versatility of TextTool for yourself – sign up today and unlock a world of possibilities with text!</p>
			<a href="{% url 'login' %}"><button class="button btn border border-2 shadow-lg ">Join Now</button></a>
		</div>
	</div>
	<script src='{%static "js\aos.js" %}'></script>
		<script>
		  AOS.init()
		</script>
	{% endblock %}
</body>
</html>