{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{%static 'css\aos.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css\bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'icofont\icofont.min.css' %}">
	<script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
	<style type="text/css">
		.card{
			background-color:#584420; 
			color: #ECDCAC;
			box-shadow:2px 2px 2px #584420 !important; 
		}

	</style>
</head>
<body>

<div class="container-fluid">


	<div class="row pt-3 pb-4" style="background-color: white;">
		<center><h1 class="card-title mb-3 pb-3 border-2 border-bottom" style="color: #584420; border-color: #584420 !important;">{{i.title}}</h1></center>
		<div class="col-md-2"></div>
		<div class="col-md-8">

			<center>
			  		<img src="{{i.image.url}}" class="card-img-top mb-3" alt="..." height="300px" data-aos="zoom-in">
			</center>

		</div> 
		<div class="col-md-2"></div>

		<div class="card-body" style="text-align: justify; color:#584420; ">
				    	
				    	<p class="card-text pe-3 ps-3">{{i.content}}</p>
			  		</div>
		<!--
		<h1>{{i.title}}</h1>
		{{i.content}}
		-->

		
	</div>







<script src='{%static "js\aos.js" %}'></script>
		<script>
		  AOS.init()
		</script>








{% endblock %}
</body>
</html>